name: Build debug apk

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - mastet

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup JDK
      uses: actions/setup-java@v2
      with:
        java-version: 11
        distribution: 'zulu'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2
      with:
        android-sdk-tools-version: 30.0.5

    - name: Make gradlew executable
      run: chmod +x ./gradlew
      
    - name: Build APK
      run: ./gradlew assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
        name: app-debug.apk
        path: app/build/outputs/apk/debug/app-debug.apk
